* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* Grid for information */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-links {
    text-decoration: none;
    color: red;
}

.list-title {
    text-decoration: none;
    color: white;
}

.grid-links:hover {
    color: black
}


/* grid for list of rides */

.listh1 {
    text-align: center;
    width: 100%;
    background-color: rgb(182, 14, 48);
    padding: 20px;
}

.listh1:hover {
    color: black
}

.list-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(39, 30, 30);
    color: white;
    padding: 10px;
}

.list-item {
    padding: 20px;
    font-size: 19px;
    text-align: center;
    /* border: 1px solid rgba(245, 10, 10, 0.8); */
}

.ride-list-name {
    text-align: center;
    background-color: rgb(201, 21, 57);
    padding: 10px;
}

.ridepic {
    width: 50%;
}

.ridepic:hover {
    opacity: 0.5
}


/* map */

.map {
    background-color: grey;
    text-align: center;
    padding: 20px;
}

.map-item {
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
    color: white;
}

.map-image {
    width: 50rem;
    height: 40rem;
}


/* schedule */

.schedule {
    background-color: rgb(39, 30, 30);
    color: azure;
    text-align: center;
    padding-bottom: 20px;
}

.schedule h1 {
    padding: 20px;
}


/* contact */

.contact,
.info-contact {
    padding: 25px;
    background-color: rgb(167, 151, 151);
    text-align: center;
}

.info-contact-h1 {
    padding: 15px;
}

.contact a {
    text-decoration: none;
    color: rgb(17, 0, 0);
}

.contact a:hover {
    color: white;
}


/* information */

.info-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    color: white;
    background-color: black;
    padding: 10px;
}

.info-title {
    color: rgb(71, 13, 13);
}

.info-des {
    padding-left: 3rem;
}

.info-item {
    padding: 20px;
    font-size: 19px;
    text-align: center;
    font-family: Helvetica;
    /* border: 1px solid rgba(245, 10, 10, 0.8); */
}

.info-item h1 {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

#covid,
#safety,
#offers {
    padding: 25px;
    width: 50%;
    align-items: center;
}


/* reservation */

.ticket_section {
    grid-area: one;
}

.item_des {
    font-size: medium
}

.acc_section {
    grid-area: two;
}

.rest_section {
    grid-area: three;
}

.souv_section {
    grid-area: four;
}

.reservation_container {
    display: flex;
    flex-direction: column;
}

.reservation_container {
    color: rgb(7, 6, 6);
    background-color: white;
    color: black;
    padding: 25px;
}

.ticket_section {
    padding: 30px;
    margin: 3px;
}

.acc_section {
    padding: 30px;
    margin: 3px;
}

.rest_section {
    padding: 30px;
    margin: 3px;
}

.souv_section {
    padding: 30px;
    margin: 3px;
}

.item_title {
    font-size: 25px;
    padding: 5px;
}

.item_title:hover {
    opacity: 0.5;
}

.item_des {
    font-size: 20px;
    padding: 15px;
    margin: 5px;
}

.purchase_info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
}

.number-input {
    width: 200px;
}

.checkbox {
    text-align: right;
}

.text_field {
    width: 50px;
    margin: 5px;
}

.text_field>div {
    text-align: center;
}

.purchase_button {
    padding: 5px;
    margin-top: 10px;
    background-color: black;
    color: white;
    border-radius: 25%;
    width: 80px
}

.grid-container-res {
    display: grid;
    grid-template: 30px 30px / 80px 80px;
}

.text_des {
    margin: 0;
    padding-top: 5px;
}